body {
    font-weight: 300;
    color: #50403c;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Playfair Display', serif;
    color: #000 !important;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5 {
    color: #efefe9 !important;
}

.heading-block > span:not(.before-heading) {
    display: block;
    margin-top: 10px;
    font-weight: 300;
    color: #50403c;
}

.heading-block {
    margin-bottom: 30px !important;
}

#primary-menu ul li a {
    padding: 0 5px;
}

#primary-menu > ul > li:hover a, #primary-menu > ul > li.current a {
    color: #dab24c !important;
}

@media (max-width: 991px)
body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li:hover a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li.current a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li:hover a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li.current a {
    color: #dab24c !important;
}

#primary-menu > ul > li.current a {
    color: #dab24c !important;
}

table {
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
}

th.label {
    display: table-cell;
    width: 1% !important;
    white-space: nowrap;
    text-align: right;
    padding: 3px;
}

td {
    padding: 3px;
}

table input,
table select,
table textarea {
    box-sizing: border-box;
    width: 100%;
}

tr#email-field {
    display: none;
}

section {
    padding: 30px 0 20px 0;
}

section#content {
    padding: 0;
}

.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4,
.emphasis-title h1,
.emphasis-title h2 {
    font-weight: 900;
}

.heading-block.center > span,
.heading-block.title-center > span,
.center .heading-block > span {
    max-width: 100%;
}


.close {
    float: right;
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-header .close {
    margin-top: -8px;
}

#header.transparent-header {
    background: rgba(255, 255, 255, .92);
}

#header.full-header #logo {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

header #logo img {
    padding: 10px;
    width: 100%;
}

#header.full-header #primary-menu > ul {
    padding-right: 10px;
    margin-right: 0;
    border-right: 0;
}

#header #primary-menu ul li a {
    font-family: "Lato", sans-serif;
}

.header-social {
    display: table;
    height: 100%;
    float: right;
}

.header-social div {
    display: table-cell;
    vertical-align: middle;
}

.header-social a {
    height: 24px;
    width: 24px;
    margin-top: -13px;
    display: inline-block;
}

.header-social a img {
    height: 24px;
    width: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.device-sm .header-social,
.device-xs .header-social,
.device-xxs .header-social {
    display: none;
}

@media (max-width:991px) {
    #primary-menu ul li a,
    #primary-menu.style-2 > div > ul > li > a {
        line-height: 40px !important;
        height: 40px !important;
    }
}

/*Code for new header stuff*/

#logo {
    margin-right: 10px;
    height: 75px;
    width: 300px;
}

@media (min-width: 991px) and (max-width: 1200px){
    #primary-menu ul li a {
        font-size: 10px;
    }
}

#logo img {
    padding-bottom: 7px;
    padding-top: 7px;
}

#header {
    background-color: #fff !important;
}

#header.sticky-header #header-wrap {
    background-color: #fff !important;
}

#header .container {
    background-color: #fff;
}

#header #header-wrap .container .container .clearfix{
    background-color: #fff !important;;
}

.responsive-sticky-header #header-wrap {
    background-color: #fff !important;
}

#primary-menu ul li a {
  font-family: 'Raleway', sans-serif !important;
}

@media (max-width: 991px) {
  .responsive-sticky-header #logo {
          height: 100px;
  }

  .responsive-sticky-header #logo img {
          height: 100px;
  }
}

@media (max-width: 991px) {
  .responsive-sticky-header #primary-menu-trigger {
          top: 25px;
  }
}

@media(min-width: 991px){
    #logo {
    clear: both;
    }
}

#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
    line-height: 95px;
}

@media (max-width: 991px) {
    #logo {
    max-width: 75% !important;
    }
}

nav#primary-menu.statick-sticky > ul{
    height: 100px;
}

#topButton{
    font-size: 11px;
    height: 35px;
  line-height: 35px;
}

.button:hover {
        font-family:'Lato', sans-serif;
    background-color: #0b5f62 !important;
    color: #fff !important;
}

.button.button-3d:hover{
        font-family:'Lato', sans-serif;
    background-color: #9c3241 !important;
    color: #fff !important;
}

#header.full-header #logo {
  padding-right: 30px;
  margin-right: 30px;
  border-right:none; 
}

#primary-menu ul li a {
    padding: 0 5px;
}

#primary-menu > ul > li.current a {
    color: #ee19b4 !important;
}

#primary-menu > ul > li a:hover {
    color: #ee19b4  !important;
}

#header.full-header #primary-menu > ul {
    margin-right: 10px;
    padding-right: 0;
    border-right: none;
}

#primary-menu > ul > li.current a {
    color: #555 !important;
    text-decoration: none !important;
}

#primary-menu ul li a {
    color: #555;
}

#primary-menu > ul > li.current a:hover{
    color: #ee19b4  !important;
}

#primary-menu > ul > li a:hover{
    color: #ee19b4 !important;
}

#primary-menu ul li a {
    padding: 0 5px;
}

#header.full-header #primary-menu > ul {
    margin-right: 10px;
    padding-right: 0;
    border-right: none;
}



/*End code for new header stuff*/







#slider {}

#slider img {
    padding: 10px;
    background: rgba(0, 0, 0, .4);
    width: 31%;
    right: 10%;
}

.device-md #slider img {
    width: 40%;
    right: 10%;
}

.device-sm #slider img {
    width: 38%;
    right: 5%;
}

.device-xs #slider img,
.device-xxs #slider img {
    display: none;
}

#calls-to-action {
    padding: 20px 0;
    border: 0!important;
    background-color: #487b7e;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    border-radius: 3px;
}

.device-xxs #calls-to-action {
    padding: 10px 0;
}

#calls-to-action h3 {
    color: #f2f2f2 !important;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
}

#calls-to-action h3 a {
    margin-top: -10px;
    display: block;
    color: #ffffff;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
}

.device-xs #calls-to-action h3 a,
.device-xxs #calls-to-action h3 a {
    font-size: 2em;
}

#calls-to-action p,
#calls-to-action span {
    color: #ffffff;
    margin-top: 8px;
}

#calls-to-action span a {
    color: inherit;
}

#calls-to-action a.button {
    height: auto!important;
    padding: 5px 20px!important;
}

#calls-to-action .phone-numbers {
    border-right: 1px solid rgba(255, 255, 255, .2);
    padding-right: 20px;
    text-align: right;
}

#calls-to-action .schedule-online {
    border-left: 1px solid rgba(0, 0, 0, .1);
    padding-left: 20px;
    text-align: left;
}

.device-xs #calls-to-action .phone-numbers,
.device-xs #calls-to-action .schedule-online,
.device-xxs #calls-to-action .phone-numbers,
.device-xxs #calls-to-action .schedule-online {
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

#calls-to-action .schedule-online a.button,
#schedule-form button.btn-block,
#services a.button {
    background-color: #dab24c;
    color: #fff;
    border: 1px solid #dab24c;
/*    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
    opacity: 1;*/
}

.click-for-info{
    margin-bottom: 0px !important;
    color: #50403c !important;
    font-family: 'Playfair Display', serif;
}

.device-xs #calls-to-action .schedule-online a.button,
.device-xxs #calls-to-action .schedule-online a.button {
    font-size: 12px;
    padding: 5px 10px !important;
    line-height: 25px;
}

#calls-to-action .schedule-online a.button:hover,
#schedule-form button.btn-block:hover,
#services a.button:hover {
    background-color: #b8902b !important;
    color: #fff;
    border: 1px solid #fff;
}

#calls-to-action .existing-patients p {
    font-size: 24px;
    margin: 0;
}

.device-xs #calls-to-action .existing-patients p,
.device-xxs #calls-to-action .existing-patients p {
    font-size: 20px;
}

#calls-to-action .existing-patients p a {
    font-weight: bold;
}

.device-xs #calls-to-action .existing-patients p a,
.device-xxs #calls-to-action .existing-patients p a {
    margin-top: -10px;
    display: block;
}

#team {
    background-image:url('../images/sand-texture.jpg');background-size:cover;}
}

.team-content {
    color: #50403c;
    font-size: 1.1em;
}

.team-title span {
    color: #50403c;
}

.team-content {
    margin-top: 15px;
    color: #50403c;
}

.team-title h4 {
    font-weight: 900;
}

#team .oc-item {
    padding: .5em;
    border-radius: 5px;
    background-color: #e8e7dd;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
}

.device-xs #team .oc-item p,
.device-xxs .oc-item p {
    display: none;
}

.device-xs #team .oc-item p:first-child,
.device-xxs .oc-item p:first-child {
    display: block;
}

#specials {
    border-top: 1px solid rgba(0, 0, 0, .1);
    background-color: #e8e7dd ;
}

.new-patient-exam-padding{
    padding-bottom: 60px;
}

.dental-cleaning-padding{
    padding-bottom: 30px;
}

#new-patient-exam .pricing-title {
    background-color: #487b7e;
}

#new-patient-cleaning .pricing-title {
    background-color: #487b7e;
}

#new-childrens-cleaning-exam .pricing-title {
    background-color: #487b7e;
}

#new-patient-exam .pricing-title h3,
#new-patient-cleaning .pricing-title h3,
#new-childrens-cleaning-exam .pricing-title h3 {
    color: #ffffff !important;
    text-shadow: 1px 1px 1px #000;
}

#new-patient-exam p,
#new-patient-cleaning p,
#new-childrens-cleaning-exam p {
    font-weight: normal;
    font-size: 1.2em;
}

#specials .pricing-price {
    font-weight: 700;
    color: #000;
}

#specials .pricing-box {
    background-color: #fff;
}

.pricing-features li {
    color: #000;
}

.pricing-title {
    padding: 15px 0;
    background-color: #487b7e !important;
    border-radius: none !important;
    text-shadow: 1px 1px 1px #FFF;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

@media (min-width:768px) {
    #specials .col-sm-4 {
        width: 32%;
        margin-right: 2%;
    }
    #specials .col-sm-4:last-child {
        margin-right: 0;
    }
}

.dark .pricing-features,
.pricing-features {
    border-bottom: none;
}

.device-md .new-patient-exam-padding{
    padding-bottom: 90px;
}

.device-sm .new-patient-exam-padding{
    padding-bottom: 120px;
}




section#reviews{margin-top:0;padding-top:30px;margin-bottom:0;padding-bottom:30px;background-image:url('../images/reviews-background.jpg');background-size:cover;}
#reviews h2,
#reviews .heading-block > span:not(.before-heading),
#reviews .heading-block:after,
#reviews .stars,
#reviews .testi-content p,
#reviews .testimonial-full .testi-meta,
#reviews .testi-meta span{border-color:#ffffff;color:#ffffff;}
.testi-content p{font-family: 'Open Sans', sans-serif;font-style:normal;font-weight:300;}
.testi-content .stars{font-size:2em;}
@media (max-width:768px){section#reviews{padding-top:10px;padding-bottom:10px;background-color:#34495E;background-image:none;background-size:cover;}
}

#services {
    background-image:url('../images/sand-texture.jpg');background-size:cover;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

#services .portfolio-item {
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
}

#services .portfolio-item img {
    padding: .5em;
    height: auto;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

#services .portfolio-desc {
    padding: 0 0 5px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#services .portfolio-4 .portfolio-desc h3 {
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    padding: 3px 0 0 0;
}

section#forms {
    margin-top:0;
/*    padding-top:30px;*/
    margin-bottom:0;
    padding-bottom:30px;
    background-image:url('../images/forms-background.jpg');
    background-size:cover;
}

@media (max-width:768px){section#forms{padding-top:10px;padding-bottom:10px;background-color:#e8e7dd;background-image:none;background-size:cover;}
}

.device-xs section#forms .forms-btn{
    padding-left: 60px !important;
}


section#forms .button{
    background-color:#487b7e !important;
    color: #fff;
}

section#forms .button:hover{
    background-color:#39696c !important;
    color: #fff;
}


.device-xs #forms .tleft,
.device-xs #forms .tright,
.device-xxs #forms .tleft,
.device-xxs #forms .tright {
    text-align: center !important;
}

#gallery{
	background-color: #324155;
	padding-top: 40px;
	padding-bottom: 40px;
}

.owl-carousel .owl-item {
    box-sizing: border-box;
    padding: .6em;
    border: 1px solid #ddd;
    background-color: #e8e7dd;
    border-radius: 10px;
    user-select: none;
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background-color: #487b7e !important;
    color: #FFF !important;
    text-decoration: none;
}

.dark .portfolio-overlay a:hover {
    background-color: #487b7e
}


#location {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#contact-form-overlay-mini-mobile {
    position: relative;
    max-width: 500px;
    background-color: #FFF;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    z-index: 10;
    border-radius: 4px;
}

.device-sm .mobile-location-logo{
    width: 85%;
}

.device-xs .mobile-location-logo{
    width: 85%;
}

@media (max-width: 992px) {
    #contact-form-overlay, #contact-form-overlay-mini {
         box-shadow: none !important; 
         background-color: inherit !important;
    }
        #contact-form-overlay, #contact-form-overlay-mini-mobile {
         box-shadow: none !important; 
         background-color: inherit !important;
    }
}

@media (max-width: 992px) {
.map{
    height: 200px !important;
    }
}

    #location #map-overlay {
        position: relative;
        padding: 20px 0;
    }

    #location #contact-form-overlay, #contact-form-overlay-mini {
        padding: 10px;
        text-align: center;
    }

    #location address {
        line-height: 1;
        font-size: 1.2em;
    }

    #location address a {
        color: #487b7e;
    }

    #location address strong {
        display: block;
        margin-top: 10px;
        font-size: 1.05em;
    }

    #location a.button {
        background-color: #487b7e;
        color: #ffffff;
        margin-top: 10px !important;
    }

    #location a.button:hover {
        background-color: #39696c;
        color: #ffffff;
    }

    #location h3, #location .existing-patients {
        color: #50403c !important;
        font-size: 16px;
    }

        #location h3 a {
            color: #487b7e !important;
            font-size: 2em;
            font-family: 'Open Sans', sans-serif;
        }

        #location .existing-patients a {
            color: #487b7e;
            font-weight: bold;
        }

.existing-patients p{
    color:#487b7e;
    font-size:1.3em;
    margin-bottom: 10px;
}

#calls-to-action .existing-patients a{
    color:inherit
}

#connect {
    background-color: #36a9ae;
}

#footer.dark,
.dark #footer {
    background-image:url('../images/footer.jpg');background-size:cover;
}

#footer .col_two_third,
#footer .col_one_third {
    margin-bottom: 0;
}

#gotoTop:hover{
    background-color: #487b7e;
}